body {
    background-color: rgb(245, 244, 241);
  }
  
  ul {
    list-style-type:none;
  }
  
  #goo {
      margin-top: 230px;
      margin-left: 1px;
      margin-bottom: 30px;
      text-align: center;

      color:rgb(82, 107, 41);
  }
  
  #fo {
    text-align: center;
  
    margin: 250px;
    margin-top: 2px;
    width: 50%;
    font-weight: 550;
    font-size: 12px;
    padding: 20px;
  
  }
  
  #q {
    
    width : 650px;
    height: 65px;
    color:rgb(82, 107, 41);
    background-color: white;
    border: 1px solid rgb(82, 107, 41);
    font-size: 36px;
    border-radius: 60px;
    padding:10px;

    margin-left:1px;
    margin-bottom: 20px;

  }
  
  
  #subm {
    background-color:white;
    
    width : 150px;
    height: 30px;
    background-color:  rgb(82, 107, 41);
    color: white;
    border: 1px solid rgb(82, 107, 41);
    border-radius: 60px;
    left: 50%;
    margin-left:-5px;
  }
  
  
  
  